@import url('http://fonts.cdnfonts.com/css/vt323');

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    font-family: 'VT323', sans-serif;
}

.App {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

#lightSwitch {
    transform: scale(1.1);
}