.slide-in-bottom-animation {
    display: block !important;
    animation: slide-in-bottom 0.5s ease-in-out;
}

.slide-in-bottom-disappear-animation {
    animation: slide-in-bottom-disappear 0.5s ease-in-out;
}

.slide-in-top-animation {
    display: block !important;
    animation: slide-in-top 0.5s ease-in-out;
}

.slide-in-top-disappear-animation {
    animation: slide-in-top-disappear 0.5s ease-in-out;
}

.pulse-animation {
    box-shadow: 0 0 0 0 rgb(72, 17, 199);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.pulse-animation-not-infinite {
    box-shadow: 0 0 0 0 rgb(72, 17, 199);
    transform: scale(1);
    animation: pulse 2s;
}

.fadeout-animation {
    animation: fadeout 0.5s ease-in-out;
}

.fadein-animation {
    animation: fadein 0.5s ease-in-out;
}

.moveLeft-animation {
    animation: moveLeft 0.7s ease-in-out;
    right: 80px;
}

.moveRight-animation {
    animation: moveRight 0.7s ease-in-out;
    right: 10px;
}

@keyframes pulse {
    0% {
        /* transform: scale(0.95); */
        box-shadow: 0 0 0 0px rgb(72, 17, 199);
    }

    70% {
        /* transform: scale(1); */
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }

    100% {
        /* transform: scale(0.95); */
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100%);
        opactiy: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom-disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top-disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        right: 10px;
    }

    100% {
        right: 80px;
    }
}

@keyframes moveRight {
    0% {
        right: 80px;
    }

    100% {
        right: 10px;
    }
}