.text-page-open {
    opacity: 0;
    animation: fadein-pageopen 2s ease-out;
    animation-delay: .2s;
}

@keyframes fadein-pageopen {
    0% {
        opacity: 0;
    }

    40%,
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* ========================= */
/* mouse cursor */
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 3px;
    margin-top: 3px;
    width: 26px;
    height: 26px;
    border-radius: 16px;
    background-color: yellow;
    mix-blend-mode: difference;
    z-index: 999;
    pointer-events: none;
}

/* ========================= */
/* typewriter */
span.typed-text {
    font-weight: normal;
    color: #dd7732;
}

span.cursor {
    position: relative;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 2.5px;
    animation: blink 1s infinite;
}

span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

/* ============================== */
/* underline and link animation */
.subtle-link {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;
}

.subtle-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.subtle-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.underline-smooth {
    display: block;
    position: relative;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    left: 0;
    margin-top: -10px;
    background-color: #83be36;
    transition: transform 0.8s ease-out;
}

.origin-left {
    transform-origin: bottom left;
}

.origin-right {
    transform-origin: bottom right;
}

.origin-center {
    transform-origin: bottom center;
}

.show-from-right {
    transform: scaleX(1);
    transform-origin: bottom right;
}

.show-from-left {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.show-from-middle {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* ============================== */
/* pulse background */
.pulse-animation {
    box-shadow: 0 0 0 0 rgb(72, 17, 199);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        /* transform: scale(0.95); */
        box-shadow: 0 0 0 0px rgb(72, 17, 199);
    }

    70% {
        /* transform: scale(1); */
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }

    100% {
        /* transform: scale(0.95); */
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* ============================== */
/* slide */
.slide-in-top-animation {
    display: block !important;
    animation: slide-in-top 0.5s ease-in-out;
}

.slide-in-top-disappear-animation {
    animation: slide-in-top-disappear 0.5s ease-in-out;
}

.slide-in-bottom-animation {
    display: block !important;
    animation: slide-in-bottom 0.5s ease-in-out;
}

.slide-in-bottom-disappear-animation {
    animation: slide-in-bottom-disappear 0.5s ease-in-out;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top-disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100%);
        opactiy: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom-disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* ============================== */
/* fade */

.fadeout-animation {
    animation: fadeout 0.5s ease-in-out;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadein-animation {
    animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ============================== */
/* move left/right */
.moveLeft-animation {
    animation: moveLeft 0.7s ease-in-out;
    right: 80px;
}

@keyframes moveLeft {
    0% {
        right: 10px;
    }

    100% {
        right: 80px;
    }
}

.moveRight-animation {
    animation: moveRight 0.7s ease-in-out;
    right: 10px;
}

@keyframes moveRight {
    0% {
        right: 80px;
    }

    100% {
        right: 10px;
    }
}

/* ============================== */
/* bigger */
@keyframes bigger {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

/* ============================== */
/* bounce */
.bounce-animation {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    6% {
        transform: scale(1.1, .9) translateY(0);
    }

    12% {
        transform: scale(.9, 1.1) translateY(-50px);
    }

    25% {
        transform: scale(1.05, .95) translateY(0);
    }

    30% {
        transform: scale(1, 1) translateY(-7px);
    }

    34% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}