@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/15755/VT323-Regular.woff') format('woff');
}

html,
body,
#root {
    height: 100%;
    font-size: large;
    /* scroll-behavior: smooth; */
    /* scroll-snap-type: y mandatory; */
}

#root {
    display: flex;
    flex-direction: column;
    font-family: 'VT323', sans-serif;
}

section {
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    /* scroll-snap-align: start; */
}

footer {
    flex-shrink: 0;
}

span.anchor {
    display: block;
    position: relative;
    top: -260px;
    visibility: hidden;
}

.no-decoration {
    text-decoration: none !important;
}

.App {
    flex: 1 0 auto;
}

#lightSwitch {
    transform: scale(1.1);
}

.darkmode-toggler {
    position: fixed;
    top: 3px;
    z-index: 99999;
    right: 10px;
}

.hidden {
    display: none;
}

.subtle-link {
    color: inherit;
}

.subtle-link:hover {
    color: #145DA0;
}

.subtle-text {
    color: #878787;
}

.navbar {
    transition: ease-in 0.5s;
}

.center-flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-dir-row {
    display: flex;
    flex-direction: row;
}

.flex-dir-row .content {
    padding: 0 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.content-outline {
    outline: 1px solid #ccc;
    outline-offset: 1rem;
}

.underline-1 {
    text-decoration: underline;
    text-decoration-color: rgb(135, 196, 55);
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.1em;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.wrap-mid {
    max-width: 800px;
}

.flex-dir-column {
    display: flex;
    flex-direction: column;
}

.pad-small {
    padding: 0.25rem;
}

.ko-fi-logo {
    margin-left: 0.25rem;
    margin-bottom: 3px;
}

.center {
    text-align: center;
}

.center-horizontal-vertical {
    margin: auto;
}

.center-horizontal {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-me {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    min-width: auto;
    left: 0;
    right: 0;
}

.contact-me {
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    min-width: auto;
    left: 40px;
    right: 0;
}

.logo-main {
    width: 220px;
}

.tooltip-img {
    max-width: 90%;
    height: auto;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 3px;
    margin-top: 3px;
    width: 26px;
    height: 26px;
    border-radius: 16px;
    background-color: yellow;
    mix-blend-mode: difference;
    z-index: 999;
    pointer-events: none;
}

span.typed-text {
    font-weight: normal;
    color: #dd7732;
}

span.cursor {
    position: relative;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 2.5px;
    animation: blink 1s infinite;
}

span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}


@media only screen and (max-device-width: 800px) {
    .justify {
        max-width: 90%;
    }
}

@media only screen and (max-device-width: 768px) {
    .cursor {
        display: none;
    }

    .about-me {
        max-width: 90%;
    }
}

@media only screen and (max-device-width: 650px) {
    .flex-dir-row {
        flex-direction: column !important;
    }

    .flex-dir-row .persist {
        flex-direction: row !important;
    }
}


@media only screen and (max-device-width: 575px) {

    .mobile-hidden {
        display: none;
    }

    .about-me {
        max-width: 80%;
    }

    .contact-me {
        left: 45px;
    }
}

/* custom scrollbar - only on desktop view */
@media only screen and (min-device-width: 575px) {

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
        height: 5px;
    }

    /* Dark */
    /* Handle */
    .dark-scroll::-webkit-scrollbar-thumb {
        background: #3f474f;
        opacity: 0.5;
    }

    /* Handle on hover */
    .dark-scroll::-webkit-scrollbar-thumb:hover {
        background: #353b41;
    }

    /* Track */
    .dark-scroll::-webkit-scrollbar-track {
        background: #F1F1F1;
        opacity: 0.5;
    }

    /* The track NOT covered by the handle. */
    .dark-scroll::-webkit-scrollbar-track-piece {
        background: #5e6a75;
        opacity: 0.5;
    }

    /* Corner */
    .dark-scroll:-webkit-scrollbar-corner {
        background: #999;
    }

    /* Resizer */
    .dark-scroll::-webkit-resizer {
        background: #111;
    }

    /* Light */
    /* Handle */
    .light-scroll::-webkit-scrollbar-thumb {
        background: #145DA0;
    }

    /* Handle on hover */
    .light-scroll::-webkit-scrollbar-thumb:hover {
        background: #0C2D48;
    }

    /* Track */
    .light-scroll::-webkit-scrollbar-track {
        background: #F1F1F1;
    }

    /* The track NOT covered by the handle. */
    .light-scroll::-webkit-scrollbar-track-piece {
        background: #b7b9b9;
    }

    /* Corner */
    .light-scroll::-webkit-scrollbar-corner {
        background: #999;
    }

    /* Resizer */
    .light-scroll::-webkit-resizer {
        background: #111;
    }
}