@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/15755/VT323-Regular.woff') format('woff');
}

html,
body,
#root {
    height: 100%;
    font-size: large;
}

#root {
    display: flex;
    flex-direction: column;
    font-family: 'VT323', sans-serif;
}

section {
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

footer {
    flex-shrink: 0;
}

.App {
    flex: 1 0 auto;
}

.dots-bg {
    z-index: -1;
}

.pageopen-bg {
    z-index: 999999;
}

/* ========================= */
/* arrow goto top and bottom */
#btn-goto-top {
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 99999;
}

#btn-goto-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
}

/* ========================= */
/* anchor for id offset */
span.anchor {
    display: block;
    position: relative;
    top: -260px;
    visibility: hidden;
}

/* ========================= */
/* coloring */
.bg-light {
    background-color: #f8f9fa !important;
}

.footer-light {
    background-color: #d0dfd7;
}

.footer-dark {
    background-color: #1a1e21;
}

/* ========================= */
/* navbar */
.navbar {
    transition: ease-in 0.5s;
}

#lightSwitch {
    transform: scale(1.1);
}

.darkmode-toggler {
    position: fixed;
    top: 3px;
    z-index: 99999;
    right: 10px;
}

/* ========================= */
/* tools */
.no-decoration {
    text-decoration: none !important;
}

.hidden {
    display: none;
}

.subtle-text {
    color: #878787;
}

.underline-1 {
    text-decoration: underline;
    text-decoration-color: rgb(135, 196, 55);
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.1em;
}

.pad-small {
    padding: 0.25rem;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.logo-main {
    width: 220px;
}

.tooltip-img {
    max-width: 90%;
    height: auto;
}

/* ========================= */
/* profile */
#top-div {
    margin-top: -6.5rem;
}

.center-flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-content {
    padding: 0 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.tiny-icon {
    display: inline-block;
}

.tiny-icon:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    animation: bigger 0.1s ease-in-out;
}

.ko-fi-logo {
    margin-left: 0.25rem;
    margin-bottom: 3px;
}

.ko-fi-bottom.text-light {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

/* ========================= */
/* Div inside some of the sections */
/* absolute */
/* ======== */
.section-div {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    min-width: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}

/* contact */
.contact-me {
    max-width: 400px;
    left: 40px;
}

/* ========================= */
/* card */
.card-wrapper {
    max-width: 25rem !important;
    margin: 1rem;
}

.card-body a {
    margin: 0 .5rem;
}

/* ========================= */
/* media-query */
@media only screen and (max-width: 850px) {
    .justify {
        max-width: 90%;
    }

    .about-me {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .cursor {
        display: none;
    }
}

@media only screen and (max-device-width: 575px) {
    span.anchor#about-me {
        top: -170px;
    }

    span.anchor#portals {
        top: -140px;
    }

    #top-div {
        margin-top: -25rem;
    }
}

@media only screen and (max-device-width: 320px) {
    #top-div {
        margin-top: -40rem;
    }
}


@media only screen and (max-width: 575px) {
    .underline-smooth {
        margin-top: -5px;
    }

    .contact-me {
        left: 45px;
    }
}

@media only screen and (max-width: 320px) {
    span.anchor#portals {
        top: -75px;
    }

    span.anchor#about-me {
        top: -130px;
    }

    .card-body a {
        margin: .5rem;
    }
}

/* ========================= */
/* custom scrollbar - only on desktop view */
@media only screen and (min-device-width: 575px) {

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
        height: 5px;
    }

    /* Dark */
    /* Handle */
    .dark-scroll::-webkit-scrollbar-thumb {
        background: #3f474f;
        opacity: 0.5;
    }

    /* Handle on hover */
    .dark-scroll::-webkit-scrollbar-thumb:hover {
        background: #353b41;
    }

    /* Track */
    .dark-scroll::-webkit-scrollbar-track {
        background: #F1F1F1;
        opacity: 0.5;
    }

    /* The track NOT covered by the handle. */
    .dark-scroll::-webkit-scrollbar-track-piece {
        background: #5e6a75;
        opacity: 0.5;
    }

    /* Corner */
    .dark-scroll:-webkit-scrollbar-corner {
        background: #999;
    }

    /* Resizer */
    .dark-scroll::-webkit-resizer {
        background: #111;
    }

    /* Light */
    /* Handle */
    .light-scroll::-webkit-scrollbar-thumb {
        background: #145DA0;
    }

    /* Handle on hover */
    .light-scroll::-webkit-scrollbar-thumb:hover {
        background: #0C2D48;
    }

    /* Track */
    .light-scroll::-webkit-scrollbar-track {
        background: #F1F1F1;
    }

    /* The track NOT covered by the handle. */
    .light-scroll::-webkit-scrollbar-track-piece {
        background: #b7b9b9;
    }

    /* Corner */
    .light-scroll::-webkit-scrollbar-corner {
        background: #999;
    }

    /* Resizer */
    .light-scroll::-webkit-resizer {
        background: #111;
    }
}