@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/15755/VT323-Regular.woff') format('woff');
}

html,
body,
#root {
    height: 100%;
    font-size: large;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#root {
    display: flex;
    flex-direction: column;
    font-family: 'VT323', sans-serif;
}

section {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}

footer {
    flex-shrink: 0;
}

.App {
    flex: 1 0 auto;
}

#lightSwitch {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.subtle-link {
    color: inherit;
}

.subtle-link:hover {
    color: #145DA0;
}

.navbar {
    transition: ease-in 0.5s;
}

/* fade transition */
.fade-enter {
    opacity: 0;
}

.center-flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-dir-row {
    display: flex;
    flex-direction: row;
}

.flex-dir-row .content {
    padding: 0 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.flex-dir-column {
    display: flex;
    flex-direction: column;
}

.pad-small {
    padding: 0.25rem;
}

.ko-fi-logo {
    margin-left: 0.25rem;
    margin-bottom: 3px;
}

.center {
    text-align: center;
}

.center-horizontal-vertical {
    margin: auto;
}

.center-horizontal {
    margin: 0 auto;
}

.logo-main {
    width: 220px;
}

.pulse-animation {
    /* animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-delay: 2500ms;
    animation-iteration-count: 1;
    opacity: 1;
    animation: pulse 2.2s infinite; */
    box-shadow: 0 0 0 0 rgb(72, 17, 199);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.pulse-animation-not-infinite {
    box-shadow: 0 0 0 0 rgb(72, 17, 199);
    transform: scale(1);
    animation: pulse 2s;
}

@keyframes pulse {
    0% {
        /* transform: scale(0.95); */
        box-shadow: 0 0 0 0px rgb(72, 17, 199);
    }

    70% {
        /* transform: scale(1); */
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }

    100% {
        /* transform: scale(0.95); */
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@media only screen and (max-device-width: 650px) {
    .flex-dir-row {
        flex-direction: column !important;
    }

    .flex-dir-row .persist {
        flex-direction: row !important;
    }
}


/* custom scrollbar - only on desktop view */
@media only screen and (min-device-width: 575px) {

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
        height: 5px;
    }

    /* Light */
    /* Handle */
    .dark-scroll::-webkit-scrollbar-thumb {
        background: #3f474f;
        opacity: 0.5;
    }

    /* Handle on hover */
    .dark-scroll::-webkit-scrollbar-thumb:hover {
        background: #353b41;
    }

    /* Track */
    .dark-scroll::-webkit-scrollbar-track {
        background: #F1F1F1;
        opacity: 0.5;
    }

    /* The track NOT covered by the handle. */
    .dark-scroll::-webkit-scrollbar-track-piece {
        background: #5e6a75;
        opacity: 0.5;
    }

    /* Corner */
    .dark-scroll:-webkit-scrollbar-corner {
        background: #999;
    }

    /* Resizer */
    .dark-scroll::-webkit-resizer {
        background: #111;
    }

    /* Light */
    /* Handle */
    .light-scroll::-webkit-scrollbar-thumb {
        background: #145DA0;
    }

    /* Handle on hover */
    .light-scroll::-webkit-scrollbar-thumb:hover {
        background: #0C2D48;
    }

    /* Track */
    .light-scroll::-webkit-scrollbar-track {
        background: #F1F1F1;
    }

    /* The track NOT covered by the handle. */
    .light-scroll::-webkit-scrollbar-track-piece {
        background: #b7b9b9;
    }

    /* Corner */
    .light-scroll::-webkit-scrollbar-corner {
        background: #999;
    }

    /* Resizer */
    .light-scroll::-webkit-resizer {
        background: #111;
    }
}